@model NETDatingApp.Models.SearchViewModels
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Search", FormMethod.Get)) {
    @Html.TextBox("searchString")<input type="submit" value="Sök" />
}

<div>
    <table>
        @if (Model.ProfileList.Count() == 0) {
            <tr><td>Inget resultat hittades.</td></tr>
        }
        else {
            foreach (var p in Model.ProfileList) {
                <tr>
                    <td class="col-xs-12 col-sm-3">
                        <img src="@p.ProfileImg" class="rounded-circle" style="width: 50px; height: 50px;" />
                    <td>
                    <td>
                        @{ if (System.Web.HttpContext.Current.User != null && System.Web.HttpContext.Current.User.Identity.IsAuthenticated) {
                                @Html.ActionLink(p.FirstName + " " + p.LastName, "UserProfile", "Profile", new { p.ProfileID }, null)
                            }
                            else {
                                @Html.ActionLink(p.FirstName + " " + p.LastName, "Login", "Account");
                            }
                        }
                    </td>
                </tr>
            }
        }
    </table>

</div>
