@model NETDatingApp.Models.PersonProfile


<h3 class="card-name"> @Model.FirstName @Model.LastName </h3>

    <div class="card-content">
        <img class="card-img" src="@Model.ProfileImg" alt="Profile-pic">
        <p class="card-bio"> @Model.Bio </p>
    </div>
