body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #e9ebee;
}

.container {
    background-color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-nav > li > a {
    background-color: #f4b342;
    color: black;
}

.navbar, .navbar-inverse, .navbar-fixed-top, .navbar-collapse, .navbar-brand {
    background-color: #f4b342;
}

    .navbar-inverse .navbar-brand {
        color: black;
    }


/* Profile-card on landing page */
.profile-card {
    width: 31.6%;
    height: 200px;
    padding: 10px 5px 5px 10px;
    margin: 0 0 10px 15px;
    border: 1px solid rgba(128, 128, 128,0.4);
}

.profile-card a{
    margin: 5px;
}

.card-content {
    display: flex;
}

.card-name {
    margin: 10px 10px 10px 0;
    border-bottom: 1px solid rgb(229, 229, 229);
    padding-bottom: 10px;
}

.card-img {
    height: 30%;
    width: 35%;
    margin-bottom: 10px;
}

.card-bio {
    padding: 0 0 0 10px;
}

.row {
    display: flex;
}

.profile-card-link {
    padding: 10px;
    margin: 0;
    width: 35%;
    height: 10%;
    text-decoration: none;
    border: 2px solid rgba(231,166,26,1);
    text-decoration: none;
    color: black;
}
.profile-card-link:hover{
    color: black;
}

.profile-card-link:visited{
    color: black;
}
/* /Ladning page */

/* Profile page */
fb-profile {
    max-width: 100%;
}

.fb-profile img.fb-image-lg {
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
}

.fb-image-profile {
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%;
}

@media (max-width:768px) {

    .fb-profile-text > h1 {
        font-weight: 700;
        font-size: 16px;
    }

    .fb-image-profile {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%;
    }
}

.bio {
    overflow: hidden;
}

    .bio ul {
        padding: 0;
    }

    .bio li {
        list-style: none;
    }

    .bio .bold {
        font-weight: bold;
    }

.add-friend {
    padding: 10px;
    margin: 0;
    text-decoration: none;
    border: 2px solid rgba(231,166,26,1)
}

    .add-friend a {
        color: black;
        border: 2px solid rgba(231,166,26,0.66)
    }

    .add-friend:hover {
        background-color: #f4b342;
        text-decoration: none;
    }

    .add-friend:visited {
        text-decoration: none;
        color: black;
    }

.friend-list {
    float: right;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: -135px;
    padding: 5px 15px 5px 10px;
    max-height: 100%;
    max-width: 100%;
}

    .friend-list h4 {
        margin-top: 2px;
        padding: 0;
    }

    .friend-list ul {
        padding: 0;
        margin: 0;
    }

    .friend-list li {
        list-style: none;
        margin-bottom: 2px;
    }

#list-margin {
    margin-right: 5px;
}

/* /profile page */


/* profile posts*/

.profile-container {
    margin-left: 50px;
    padding: 0;
}

.form-group {
    margin: 10px 0 0 0;
}

.form-control {
    width: 100%;
}

.profile-container .button {
    margin-top: 5px;
}

/* /profile posts */
/* Post-card */
.post-card {
    border: 1px solid;
    border-color: rgb(229, 229, 229);
    margin: 0 0 30px 0;
    padding: 0 0 0 0;
    max-height: 150px;
    display: flex;
}

    .post-card a {
        color: black;
        cursor: pointer;
    }

        .post-card a:hover {
            text-decoration: underline;
        }

        .post-card a:visited {
            color: black;
        }


.post-img {
    height: 150px;
    flex: 0 0 25%;
}

    .post-img img {
        max-height: 100%;
        max-width: 100%;
    }

.post-content {
    flex: 1;
    max-width: 75%;
    overflow: hidden;
}

.post-poster {
    font-weight: bold;
}

.post-card p {
    margin: 0 0 10px 0;
}

/* /post-card */

/* search bar */

#custom-search-input {
    padding: 3px;
    margin-top: 5px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    width: 500px;
    height: 36px;
}

    #custom-search-input input {
        border: 0;
        box-shadow: none;
        height: 15px;
        margin-bottom: 4px;
    }

    #custom-search-input button {
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc;
    }

        #custom-search-input button:hover {
            border: 0;
            box-shadow: none;
            border-left: solid 1px #ccc;
        }

    #custom-search-input .glyphicon-search {
        font-size: 23px;
    }

/* /search bar  */
