@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>FamilyMatch</h1>
    <p class="lead">FamilyMatch är sidan för dig som vill träffa släktingar du inte visste att du hade! Olämpliga meddelanden till släktingar undanbedes.</p>
    <p><a href="https://sv.wikipedia.org/wiki/Incest" class="btn btn-primary btn-lg">Vad innebär det? &raquo;</a></p>
</div>

@{
    var x = "Login";
    var y = "Account";
    if (System.Web.HttpContext.Current.User != null && System.Web.HttpContext.Current.User.Identity.IsAuthenticated) {
        x = "MyProfile";
        y = "Home";
    }
}


<div class="row">
    <div class="profile-card">
        <h2 class="card-name"> Ludvig Lund</h2>
        <div class="card-content">
            <img class="card-img" src="~/Content/img/blankProfile.png">
            <p class="card-bio">
                Snygg tjej i lyxförpackning
                bla bla bla
                bla bla bla
                bla bla bla
                bla bla bla
                bla bla bla
                bla bla bla
                bla bla bla
            </p>
        </div>
        <a href='@Url.Action(x, y)' class="card-btn"> visa mer </a>

    </div>

    <div class="profile-card">
        <h2 class="card-name"> Ludvig Lund</h2>
        <div class="card-content">
            <img class="card-img" src="~/Content/img/blankProfile.png">
            <p class="card-bio">
                Snygg tjej i lyxförpackning
                bla bla bla
                bla bla bla
                bla bla bla
                bla bla bla
                bla bla bla
                bla bla bla
                bla bla bla
            </p>
        </div>
        <a href='@Url.Action(x, y)' class="card-btn"> visa mer </a>

    </div>

    <div class="profile-card">
        <h2 class="card-name"> Ludvig Lund</h2>
        <div class="card-content">
            <img class="card-img" src="~/Content/img/blankProfile.png">
            <p class="card-bio">
                Snygg tjej i lyxförpackning
                bla bla bla
                bla bla bla
                bla bla bla
                bla bla bla
                bla bla bla
                bla bla bla
                bla bla bla
            </p>
        </div>
        <a href='@Url.Action(x, y)' class="card-btn"> visa mer </a>

    </div>
</div>



