@model IEnumerable<NETDatingApp.Models.PersonProfile>

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Dejtingsajten</h1>
    <p class="lead">Dejtingsajten för dig som är ensam. </p>
</div>




<div class="row">

    @foreach (var item in Model) {

    <div class="profile-card">
        @Html.Partial("_ExampleUser", item)
        @{ 
           // Om ej inloggad omdirigeras man till login-page [1], annars om inloggad kommer man till respektive användares profilsida [2]
            if (System.Web.HttpContext.Current.User != null && System.Web.HttpContext.Current.User.Identity.IsAuthenticated) {
                
                // [2]
                @Html.ActionLink("Läs mer", "UserProfile", "profile", new { @item.ProfileID }, new { @class = "profile-card-link" })
            }
            else
            {
                // [1]
                @Html.ActionLink("Läs mer", "Login", "Account")
            }
        }
    </div>
    }
</div>




