
@{
    ViewBag.Title = "MyProfile";
}

<div class="container">
    <div class="fb-profile">
        <!-- header -->
        <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example" />

        <!-- Thumbnail -->
        <img align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example" />
        <div class="fb-profile-text">
            <h1>Farmor Greta</h1>
            <p>Grandma's just wanna have fun.</p>
        </div>




        <div id="bio">
            <ul>
                <li><span class="bold"> Namn: </span> *Name Namesson*</li>
                <li><span class="bold"> Ålder: </span> *98*</li>
                <li><span class="bold"> Gillar: </span> *katter, och damer*</li>

            </ul>
        </div>



        <hr />  
        <div class="profile-post-container">
            <p class="add-friend"> Lägg till som vän</p>

            <div class="form-group">
                <label for="comment">Vill du skriva något till *person* ?</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>


            <hr />

            <div class="profile-posts">

                <div class="post-card">
                    <div class="post-img">
                        <img src="~/Content/img/bild3.jpg" />
                    </div>
                    <div class="post-content">
                        <h3 class="post-poster"> *insert name* </h3>
                        <hr />
                        <p> * hejsan jag tycker du är väldigt snygg hejdå thihihih* </p>
                    </div>
                </div>

                <div class="post-card">
                    <div class="post-img">
                        <img src="~/Content/img/bild3.jpg" />
                    </div>
                    <div class="post-content">
                        <h3 class="post-poster"> *insert name* </h3>
                        <hr />
                        <p> * hejsan jag tycker du är väldigt snygg hejdå thihihih* </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div> <!-- /container -->
