
@{
    ViewBag.Title = "MyProfile";
}

<div class="container">
    <div class="fb-profile">
        <!-- header -->
        <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example" />

        <!-- Thumbnail -->
        <img align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example" />
        <div class="fb-profile-text">
            <h1>Farmor Greta</h1>
            <p>Grandma's just wanna have fun.</p>
        </div>
        <div id="bio">
            <ul>
                <li><span class="bold"> Namn: </span> *Name Namesson*</li>
                <li><span class="bold"> Ålder: </span> *98*</li>
                <li><span class="bold"> Gillar: </span> *katter, och damer*</li>

            </ul>
        </div>
        <div class="container">
            <div class="row">
                <h3>Status Upload Snipp</h3>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="widget-area no-padding blank">
                        <div class="status-upload">
                            <form>
                                <textarea placeholder="What are you doing right now?"></textarea>
                                <ul>
                                    <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
                                    <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
                                    <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
                                    <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                                </ul>
                                <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
                            </form>
                        </div><!-- Status Upload  -->
                    </div><!-- Widget Area -->
                </div>

            </div>
        </div>
        <div class="profile-content">
            <div class="post">

            </div>
        </div>
    </div>
</div> <!-- /container -->
