@model NETDatingApp.Models.FriendsListViewModel
@{
    ViewBag.Title = "FriendsList";
}
<h2>Dina vänner</h2>
<div>
    @foreach (var fr in Model.Friends) {
        var Friend = Model.Profile;
        if (fr.RequesterID == Model.Profile.ProfileID) {
            Friend = fr.FriendReciever;
        }
        else if (fr.RecieverID == Model.Profile.ProfileID) {
            Friend = fr.FriendRequester;
        }
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <img src="@Friend.ProfileImg" class="rounded-circle" style="width: 50px; height: 50px;">
            @Html.ActionLink(@Friend.FirstName + " " + @Friend.LastName, "Profile", "Profile", new { Friend.ProfileID })
        </div>
    </div>
    }
</div>

