@model NETDatingApp.Models.MyProfileViewModel
@{
    ViewBag.Title = "MyProfile";
}

<div class="container">
    <div class="fb-profile">
        <!-- header -->
        <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example" />

        <!-- Thumbnail -->
        <img align="left" class="fb-image-profile thumbnail" src="~/Content/img/blankProfile.png" alt="Profile image example" />
        <div class="fb-profile-text">
            <h1>@Model.Profile.FirstName @Model.Profile.LastName</h1>
            <p>Pepparkakor är livet.</p>




            <div class="latest-visitors">
                <h4> Senaste besökarna</h4>
                <ul>
                    <li> <a href=""> Ludvig Lund</a> </li>
                    <li> <a href=""> Ludvig Mellström</a> </li>
                    <li> <a href=""> Ludvig Sagtröm</a> </li>
                    <li> <a href=""> Hugo Mellström </a> </li>
                    <li> <a href=""> Andreas Sagström  </a> </li>
                </ul>
            </div>
            <div class="bio">
                <ul>
                    <li><span class="bold"> Kön: </span> @Model.Profile.Gender</li>
                    <li><span class="bold"> Ålder: </span> @Model.Profile.Age</li>
                    
                </ul>
            </div>
        </div>


        

        <hr />  
        <div class="profile-container">

            <a class="add-friend" href="">Lägg till vän</a>

            <div class="form-group">
                <label for="comment">Vill du skriva något till *person* ?</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>




            <hr />
            <h3 class="posts-headline"> Senaste inläggen </h3>
            
            
            
            <!-- user posts end up here -->
            <div class="profile-posts">

                <!-- the card that contains everything the user posts -->
                <div class="post-card">
                    <div class="post-img">
                        <img src="~/Content/img/blankProfile.png" />
                    </div>
                    <div class="post-content">
                        <h3 class="post-poster"> <a href=""> Ludvig Lund </a> </h3>
                        <p> * hej hej!* </p>
                    </div>
                </div>

                <div class="post-card">
                    <div class="post-img">
                        <img src="~/Content/img/blankProfile.png" />
                    </div>
                    <div class="post-content">
                        <h3 class="post-poster"> <a href=""> Hugo Sagström </a> </h3>
                        <p> * hejsan vilken fin dag.* </p>
                    </div>
                </div>

                <div class="post-card">
                    <div class="post-img">
                        <img src="~/Content/img/blankProfile.png" />
                    </div>
                    <div class="post-content">
                        <h3 class="post-poster"> <a href=""> Andreas Mellström </a> </h3>
                        <p> * Hallå hej * </p>
                    </div>
                </div>


            </div> <!-- /profile-posts -->
        </div> <!-- /profile-container -->
    </div> <!-- /fb-profile -->

</div> <!-- /container -->
